.nav
  height 65px
  width 100%
  line-height 65px
  box-shadow 0 2px 4px rgba(0, 0, 0, .1)

.nav__content
  margin 0 auto
  padding 2px 0
  max-width max-screen

.nav--fixed
  z-index 100
  box-shadow none
  position fixed
