.password
  .surface
    padding-top 125px

.pwd
  width 315px
  margin 0 auto
  animation scale-fade 0.3s ease

.pwd__title
  font-size 18px
  letter-spacing 2.5px
  width 49%
  color gray-6f
  cursor pointer
  &:nth-last-child(2)
    border-right 1px solid gray-cc
  
.pwd__formGroup
  padding-top 35px

.pwd__verifyCodeBox
  position relative

.pwd__btn
  width 47%
  letter-spacing 2px

.pwd__btn--full
  width 100%
  letter-spacing 2px
  
.pwd__verifyCode
  max-height 50px
  position absolute
  right 0
  bottom 4px

.pwd--mobile
  .pwd__title:first-child
    color mt-orange
  .pwd__mobile,
  #mobile
    display block
  .pwd__email,
  #mobilePwd
    display none

.pwd--mobilePwd
  .pwd__title:first-child
    color mt-orange
  .pwd__mobile,
  #mobilePwd
    display block
  .pwd__email,
  #mobile
    display none

.pwd--email
  .pwd__title:last-child
    color mt-orange
  .pwd__mobile
    display none
  .pwd__email
    display block

#mobilePwd
  .pwd__btn
    width 100%