.password
  .surface
    padding-top 125px

.pwd
  width 315px
  margin 0 auto

.pwd__title
  font-size 18px
  letter-spacing 2.5px
  width 49%
  color gray-6f
  &:first-child
    border-right 1px solid gray-cc

.pwd__title--active
  color mt-orange
  
.pwd__verifyCodeBox
  position relative

.pwd__btn
  width 47%
  letter-spacing 2px
  padding 0.5em 0
  
.pwd__verifyCode
  max-height 50px
  position absolute
  right 0
  bottom 4px