.btn,
.btn__noStyle,
.input,
.input__noStyle
  btn-clean()
  &:disabled
    cursor no-drop

// button
.btn__group
  display flex
  box-sizing border-box
  .btn__bootcss,
  .input__bootcss,
  .input__addon
    border-radius 0
    &:first-child
      border-radius 3px 0 0 3px
    &:last-child
      border-radius 0 3px 3px 0
    &:not(:last-child)
      border-right-width 0 
  .input__addon
    background-color #f0eeef
    flex 0 0 auto
    

.btn__bootcss
  outline none
  cursor pointer
  font-weight bold
  border-radius 3px
  white-space nowrap
  display inline-block
  vertical-align middle
  background-color white
  box-sizing border-box
  border 1px solid dark-gray
  transition background-color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1)
  &:disabled
    cursor no-drop

.btn__auth
  border none
  color white
  font-size 16px
  padding 0.5em 0
  border-radius 2px
  font-weight normal
  background-color mt-orange
  text-align center
  
.btn__select
  btn-clean()
  border 1px solid #ccc
  border-radius 2px
  font-size 14px
  color gray-a7
  padding 0.5em 0.7em
  position relative
  input,
  button
    btn-clean()
    &:focus~ul
      display block
  button
    dropDown()
  ul
    position absolute
    top 100%
    left 0
    width 100%
    border-radius 0 0 2px 2px
    box-shadow 0 2px 2px rgba(0,0,0,.3)
    display none
    &:hover
      display block
  li
    padding 0.5em 0.3em
    border 1px solid #ccc
    &:not(:last-child)
      border-bottom none
    &:last-child
      border-radius 0 0 2px 2px

.btn__dropDown
  btn-clean()
  dropDown()

.btn--text
  border none

.btn--noPadding
  padding 0

.btn--textNormal
  font-weight normal

.btn--transparent
  background-color transparent

.btn__smsCode
  font-size 14px
  height 31px
  line-height 32px
  font-weight normal
  bottom 2px
  right 6px
  
.btn__search
  input
    width 0
    transition width .3s ease-in-out
    &:focus
      width 150px
  
// 按钮颜色
.btn--orange
  color #fff
  background-color mt-orange

.btn--gray
  background-color gray-a7
  color #fff
  

// input
.input,
.input__mt
  btn-clean()
  border-bottom 1px solid gray-cc
  line-height 18px
  color gray-a7
  padding 6px 0
  letter-spacing 2px

.input__bootcss,
.input__addon
  border 1px solid gray-cc
  border-radius 5px
  padding 6px 12px
  box-sizing border-box
  outline none
  box-shadow inset 0 1px 1px rgba(0,0,0,.075)
  
.form__error,
.form__error .input
  border-color red-error
