.btn
  outline none
  cursor pointer
  font-weight bold
  border-radius 3px
  white-space nowrap
  display inline-block
  vertical-align middle
  background-color white
  border 1px solid dark-gray
  transition background-color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1)

.btn__login
  border none
  color white
  font-weight normal
  font-size 18px
  border-radius 2px
  background mt-orange
