figure, .figure
  margin 0

.figure--centered
  text-align center
  transform-origin bottom center
  animation scale-fade .3s forwards cubic-bezier(.8,.02,.45,.91)

.figure--right
  text-align right

.figure--left
  text-align left
  