figure, .figure
  margin 0

.figure--centered
  animation slide-right-in 0.45s cubic-bezier(1, -0.14, 0.1, 1.32)
  text-align center

.figure--right
  text-align right

.figure--left
  text-align left
  