.form--auth
  animation slide-left-in 0.45s cubic-bezier(1, -0.14, 0.1, 1.32)
  margin 32px 157.5px 0 37.5px
  .form__input
    outline none
    border none
    padding 6px 0
    border-bottom 1px solid gray-cc
  .form__title
    height 24px
    line-height 24px
    span
      font-size 16px
  .btn__auth
    margin-top 25px
.form__field
  margin-top 40px
  

.form__field
  .svg--eyeClosed, .svg--eyeOpening
    bottom 6px
    right 6px
    visibility hidden
    position absolute
  svg.is-active
    visibility visible
