.form--auth
  margin 32px 157.5px 0 37.5px
  .form__input
    outline none
    border none
    padding 6px 0
    border-bottom 1px solid gray-cc
  .form__title
    height 24px
    line-height 24px
    span
      font-size 16px
.form__field
  margin-top 40px
  
.form__field--withSwitch
  position relative
  svg
    bottom 6px
    right 6px
    visibility hidden
    position absolute
  .is-active
    visibility visible