.streamTabs
  -webkit-box-orient horizontal
  -webkit-box-direction normal
  -ms-flex-direction row
  flex-direction row
  text-align left
  height 100%
  overflow-x hidden
  overflow-y hidden
  color rgba(0,0,0,0.44)

.streamTab-item
  font-size 16px
  font-weight 400
  letter-spacing 0
  font-style normal
  white-space nowrap
  display table-cell
  padding 13px 20px 15px 0