.svg
  cursor pointer
  display inline-block
  vertical-align middle

.svg--logo
  width 170px
  height 21px
  @media screen and (max-width: medium-screen)
    width 35px

.svg--switch
  width 27px
  height 17px
  
.svg--search
  width 25px
  height 25px