.svg
  cursor pointer
  display inline-block
  vertical-align middle

.svg--logo
  width 170px
  height 22px
  @media screen and (max-width: medium-screen)
    width 35px

.svg--switch
  width 27px
  height 17px
  
.svg--search
  width 21px
  height 21px
  fill currentColor

.svg--24x24
  height 24px
  width 24px

.svg__upload
  width 13px
  height 13px

.svgSet .svg
  margin-top 25px
  margin-right 25px