.u-flexCenter
  display flex
  align-items center

.u-flexBottom
  display flex
  align-items bottom

.u-flexEnd
  display flex
  align-items flex-end
  
.u-flexBetweenNowrap
  display flex
  justify-content space-between
  flex-flow row nowrap
  align-items center
  &>*
    box-sizing border-box

.u-tac
  text-align center
  
.u-vam
  vertical-align middle
  
.u-borderBox
  box-sizing border-box

.u-borderTop
  border-top 1px solid gray-cc

.u-alignMiddle 
  .u-alignBlock,.u-alignMiddle:before
    display inline-block
    vertical-align middle

.u-alignBottom:before,.u-alignMiddle:before
  content: ''
  height 100%

.u-alignBottom 
  .u-alignBlock,.u-alignBottom:before
    display inline-block
    vertical-align bottom

.u-clearfix:after,.u-clearfix:before
  display table
  content " "

.u-clearfix:after
  clear both

.u-floatRight
  float right

.u-floatLeft
  float left

.u-sizeAuto
  width auto
  max-width auto

.u-sizeViewWidth100
  width 100vw!important

.u-sizeHalfWidth
  width 50%

.u-sizeFullWidth
  width 100%

.u-sizeFullViewHeight
  height 100vh

.u-textColorOrange
  color mt-orange

.u-textColorGray6f
  color gray-6f

.u-TextColorGraya7
  color gray-a7

.u-positionRelative
  position relative

.u-positionAbsolute
  position absolute

.u-ml20
  margin-left 20px

.u-ml40
  margin-left 40px

.u-ml60
  margin-left 60px
  
.u-pt10
  padding-top 10px

.u-pv20
  padding-top 20px
  padding-bottom 20px

.u-pb30
  padding-bottom 30px

.u-pt15
  padding-top 15px
  
.u-pt35
  padding-top 35px
  
.u-pt40
  padding-top 40px

.u-fontSizeMicro
  font-size 11px

.u-fontSizeSmallest
  font-size 12px

.u-fontSizeSmaller
  font-size 14px

.u-fontSizeSmall
  font-size 16px

.u-fontSizeBase
  font-size 18px

.u-fontSizeLarge
  font-size 20px

.u-maxWidth650
  max-width 650px

.u-marginTopNegative92
  margin-top -92px

.u-marginTop50
  margin-top 50px
 
.row
  margin-right -20px
  margin-left -20px
  &:after
    clear both
  &:before, &:after
    display table
    content " "

.col
  position relative
  min-height 1px
  padding-right 20px
  padding-left 20px
  box-sizing border-box

.u-size10of12,.u-size11of12,.u-size12of12,.u-size1of12,.u-size2of12,.u-size3of12,.u-size4of12,.u-size5of12,.u-size6of12,.u-size7of12,.u-size8of12,.u-size9of12
  float left!important

.u-size12of12
  width 100%!important


.u-size11of12
  width 91.66666667%!important


.u-size10of12
  width 83.33333333%!important


.u-size9of12
  width 75%!important


.u-size8of12
  width 66.66666667%!important


.u-size7of12
  width 58.33333333%!important


.u-size6of12
  width 50%!important


.u-size5of12
  width 41.66666667%!important


.u-size4of12
  width 33.33333333%!important


.u-size3of12
  width 25%!important


.u-size2of12
  width 16.66666667%!important


.u-size1of12
  width 8.33333333%!important

@media screen and (max-width: medium-screen)
  .u-hideUnderSmall
    display none !important
    
