.u-floatRight
  float right!important

.u-floatLeft
  float left!important

.u-sizeAuto
  width auto!important
  max-width auto!important

.u-sizeHalfWidth
  width 50%!important

.u-sizeFullWidth
  width 100%!important

.u-textColorOrange
  color mt-orange

.u-textColorGray6f
  color gray-6f

.u-TextColorGraya7
  color gray-a7

.u-positionRelative
  position relative!important

.u-positionAbsolute
  position absolute!important

.u-marginLeft20
  margin-left 20px!important

.u-marginLeft40
  margin-left 40px!important

.u-marginLeft60
  margin-left 60px!important

.u-paddingTop10
  padding-top 10px

.u-paddingTop15
  padding-top 15px
