// Breakpoints
medium-screen = 650px
large-screen = 1020px

// Font Sizes
global-font-size = 1em
// Other Sizes
global-border-radius = 3px
global-spacing = 1.5em
global-z-index = 0
// Line Height
global-line-height = 1.5
heading-line-height = 1.2

// Colors
white = #fff
blue = #1565c0
dark-gray = #333
medium-gray = #999
light-gray = #ddd

// Font Colors
global-font-color = dark-gray

// Typography
global-font-family =  Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif