// Breakpoints
min-screen = 320px
medium-screen = 650px
max-screen = 1020px

// Font Sizes
global-font-size = 1em
// Other Sizes
global-border-radius = 3px
global-spacing = 1.5em
global-z-index = 0
// Line Height
global-line-height = 1.5
heading-line-height = 1.2

// Colors
white = #fff
blue = #1565c0
dark-gray = #424242
medium-gray = #999
light-gray = #ddd

red-error = #ff5733
mt-orange = #ff8733

// gray
gray-6f = #6f6f6f
gray-a7 = #a7a7a7
gray-cc = #cccccc
gray-e3 = #e3e3e3
gray-f6 = #f6f6f6

// Font Colors
global-font-color = dark-gray

// Typography
global-font-family =  Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif
