body
  background #f6f7f7

main
  align-items stretch
  display flex
  margin 0 auto
  max-width 100em

.content
  background-color white
  box-shadow 0 2px 4px rgba(41,63,84,0.24),0 2px 6px rgba(41,63,84,0.12)
  flex 1
  overflow-y auto
