.content
  max-width max-screen
  margin 0 auto
.surface
  top 0
  width 100%
  box-sizing border-box
  &:after
    clear both
  &:after, &:before
    display table
    content " "
.container
  margin-right auto
  margin-left auto
  box-sizing border-box