.sidebar
  flex 0 0 auto
  max-width 12em
  overflow-y auto
  padding 0 1.2em

.sidebar__link
  color #293f54
  display block
  padding-top 1.5em
  transition color 0.05s linear
  &:last-child
    padding-bottom 1.5em

.sidebar__link--active
  color #2a94d6
  font-weight 900

