.gDetail
  max-width max-screen
  margin 0 auto
  padding 20px
  border-radius 4px
  
// .gDetail__header

.gDetail__headerImg
  width 65px
  padding-bottom 65px
  bgi-center()






  
.gDetail__like
  text-align center