.hero
  width 100%
  height 700px
  color #fff
  overflow hidden
  position relative

.hero-cover
  width 100%
  bgi-center()
  position absolute

.hero-title
  font-size 24px

.hero-profile
  font-size 16px
  max-width 350px
  margin-top 300px
  margin-right auto
  margin-left auto
  position relative

.hero-description
  font-size 14px
  margin-top 185px
  position relative
  text-align center
